@using WebApplicationIso.ViewModels;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductViewModel

<div id ="maincontent">

    <form asp-controller="Product" asp-action="Add" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name :</label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price :</label>
            <input class="form-control" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label">Stock :</label>
            <input type="number" class="form-control" asp-for="Stock" />
            <span class="text-danger" asp-validation-for="Stock"></span>
        </div>

        <div class="mb-3">
            <label class="form-label form-label-inline" asp-for="Description">Description :</label>
            <textarea class="form-control" id="Description" asp-for="Description" placeholder="Açıklama"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

