@using WebApplicationIso.ViewModels;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductViewModel

<div id ="maincontent">

    <form asp-controller="Product" asp-action="Add" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name :</label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price :</label>
            <input class="form-control" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label">Stock :</label>
            <input type="number" class="form-control" asp-for="Stock" />
            <span class="text-danger" asp-validation-for="Stock"></span>
        </div>

        <div class="mb-3">

            <input class="form-check-input" asp-for="IsPublished" />
            <label asp-for="IsPublished" class="form-label form-label-inline">
                Is Published? :
            </label>
           
        </div>


        <div class="mb-3">
            <label class="form-label form-label-inline" asp-for="Description">Description :</label>
            <textarea class="form-control" id="Description" asp-for="Description" placeholder="Açıklama"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>


        <div>
            <div class="form-check mb-3">
                @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="Expire@item.Value" asp-for="Expire" value="@item.Value">
                        <label class="form-check-label" for="Expire@item.Value">@item.Key</label>
                    </div>
                }
            </div>
            <span class="text-danger" asp-validation-for="Expire"></span>
        </div>


        <div class="mb-3">
            <label  asp-for="PublishDate" class="form-label">PublishDate :</label>
            <input class="form-control" asp-for="PublishDate" />
            <span class="text-danger" asp-validation-for="PublishDate"></span>
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

